/** Moz stuffs
	-moz-border-radius-topright: 8px;
	-moz-border-radius-topleft: 8px; */

/* GENERAL */

html, body, td, p, th, a  { padding: 0; }

body {
	background-color: #FFFFFF;
	border: none;
	font-family: "Trebuchet MS", "Gill Sans", Geneva, Arial, Helvetica, sans-serif;
	font-size:  medium;
}

a { text-decoration: none; color: #000; }

.invisible {
  display: none;
}

ul {
  list-style-type: none;
  padding: 0;
}
/* -- */

#header {
	display: none;
	background-color: #FFFFFF;
/*	display: inline-block; /* utile ?? */
	font-size: .8em;
	overflow: hidden;
	padding: 10px 0px;
	text-align: center;
	top: 0px;
	width: 100%;
}
#header div.app {
	background-color: #BABABA;
	border-bottom: solid 2px #EBEBEB;
	border-left: solid 2px #EBEBEB;
	border-right: solid 2px #EBEBEB;
	border-top: solid 2px #EBEBEB;
	font-size: medium;
	padding: 2px 5px 2px 5px;
	margin: 0 auto;
	width: 50%;
	-moz-border-radius: 8px;
}

#content {
	background-color: #FFFFFF;
	margin: 0 auto;
	padding:  10px;
	text-align: left;
	/*width: 500px;*/
	width: 100%;
}

#footer {
	background-color: #FFFFFF;
	display: none;
	font-size: .6em;
	margin-top: 30px;
	margin-bottom: 4px;
	overflow: hidden;
	padding: 10px 0;
	text-align: center;
}
#footer h1 {
	font-style: italic;
}
#footer .foot {
	background-color: #BABABA;
	border-bottom: solid 2px #EBEBEB;
	border-left: solid 2px #EBEBEB;
	border-right: solid 2px #EBEBEB;
	border-top: solid 2px #EBEBEB;
	font-size: small;
	padding: 2px 5px 2px 5px;
	margin: 0 auto;
	width: 50%;
	-moz-border-radius: 8px;
}

/* Login */
div#loginbox {
	background-color: #BABABA;
	border: solid 2px #000000;
	margin: 0 auto;
	padding: 5px;
	text-align: left;
}
div#loginbox h2 {
  color: #FF0000;
}
div#loginbox table {
  text-align: right;
  width: 250px;
}


/* Nav */
div#nav {
    
}
div#nav a {
  color: #FFFFFF;
}
div#nav ul#menunav {
  background-color: #BA4423;
  color: #000000;
  left: 0;
  margin: 0;
  padding: 2px 0px 2px 0px;
  position: absolute;
  top: 0;
  -moz-border-radius-bottomright: 8px;
}
div#nav li {
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}
div#nav span.separator {
  color: #000000;
  display: block;
}

/* Channels list */
ul#channels_list {
  background-color: #FFFFFF;
  color: #000000;
/*  clear: left;
  width: 280px;
  float: left;*/
}
ul#channels_list a {
  color: #000000;
}
ul#channels_list li#channels_label {
  color: #BA4423;
}
ul#channels_list li {
  /*display: inline;*/
  margin: 10px;
}

/* Channels actions */
ul#channels_actions {
  background-color: #FFFFFF;
  color: #000000;
}
ul#channels_list a {
  color: #000000;
}
ul#channels_list li {
  display: inline;
  margin: 10px;
}
 

/* Feeds */
div.feed {
  margin: 0 auto;
  padding:  0;
  position: relative;
  text-align: center;
  width: 500px;
}

/* Channel */
div.channel {
  margin: 0;
  padding: 0;
  position: relative;
}
div.channel h3 {
}

/* Item */
div.item {
  background-color: #FFFFFF;
  border-bottom: solid 2px #BA4423;
  color: #000000;
  margin: 10px 10px 20px 10px;
  padding: 0 0 1px 0;
  position: relative;
  text-align: justify;
  -moz-border-radius: 8px;
}
div.item a {
  color: #FFFFFF;
}

div.item h4 {
  background-color: #BA4423;
  padding: 5px;
  margin: 0 0 0 0;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-topleft: 8px;
}
div.item .desc {
  margin: 10px;
}
div.item ul a {
  color: #000000;
}
div.item li {
  display: inline;
}
div.item ul#infos {
  font-size: small;
  margin: 0 0 0 10px;
  text-align: left;
}
div.item ul#infos li {
  margin-right: 10px;
}
div.item ul#actions {
  font-size: small;
  margin: 10px 0 10px 10px;
  text-align: right;
}
div.item ul#actions li {
  margin-left: 10px;
  margin-right: 10px;
}

