<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RSSReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RSSReader.RSSReaderSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RSSReader.RSSReader" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RSSReader.Properties.Settings>
            <setting name="login" serializeAs="String">
                <value />
            </setting>
            <setting name="pass" serializeAs="String">
                <value />
            </setting>
            <setting name="proxyUrl" serializeAs="String">
                <value>proxies.epitech.net</value>
            </setting>
            <setting name="proxyLogin" serializeAs="String">
                <value>charle_f</value>
            </setting>
            <setting name="proxyPass" serializeAs="String">
                <value>/n${eZBk</value>
            </setting>
            <setting name="synthVolume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="synthVoice" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="systray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tooltip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="updateTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="useProxy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="proxyPort" serializeAs="String">
                <value>3128</value>
            </setting>
            <setting name="rememberMe" serializeAs="String">
                <value>False</value>
            </setting>
        </RSSReader.Properties.Settings>
        <RSSReader.RSSReaderSettings>
            <setting name="login" serializeAs="String">
                <value />
            </setting>
            <setting name="pass" serializeAs="String">
                <value />
            </setting>
            <setting name="synthVolume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="synthVoice" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="systray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tooltip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="updateTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="useProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="proxyUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="proxyLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="proxyPass" serializeAs="String">
                <value />
            </setting>
        </RSSReader.RSSReaderSettings>
        <RSSReader.RSSReader>
            <setting name="email" serializeAs="String">
                <value />
            </setting>
            <setting name="pwd" serializeAs="String">
                <value />
            </setting>
        </RSSReader.RSSReader>
    </userSettings>
</configuration>