<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RSSScreenSaver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RSSScreenSaver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RSSScreenSaver.Properties.Settings>
            <setting name="BackgroundImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="RssFeedUri" serializeAs="String">
                <value>http://www.pcinpact.com/include/news.xml</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value />
            </setting>
            <setting name="Pass" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPass" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyUrl" serializeAs="String">
                <value>proxies.epitech.net</value>
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>3128</value>
            </setting>
            <setting name="UseProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FadeTime" serializeAs="String">
                <value>10</value>
            </setting>
        </RSSScreenSaver.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <RSSScreenSaver.Properties.Settings>
            <setting name="RSSScreenSaver_KKTRSS_service_Service" serializeAs="String">
                <value>http://localhost/kktrss_test1/Service.asmx</value>
            </setting>
        </RSSScreenSaver.Properties.Settings>
    </applicationSettings>
</configuration>