<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
	<add key="NRSS.Service.Service" value="http://localhost:1774/NRSS.Server/Service.asmx"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<compilation debug="true"/>
		<authentication mode="Forms">
			<forms name=".RSSCOOKIE" loginUrl="Default.aspx" defaultUrl="secured/Home.aspx" protection="All" timeout="30" path="/" requireSSL="false" slidingExpiration="true" enableCrossAppRedirects="false" cookieless="UseDeviceProfile" domain="">
				<!-- protection="[All|None|Encryption|Validation]" -->
				<!-- cookieless="[UseUri | UseCookies | AutoDetect | UseDeviceProfile]" -->
			</forms>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
	</system.web>
</configuration>
